body {
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman',
    serif;
}

.has-search .form-control {
  padding-left: 1.875rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 1.75rem;
  height: 2.375rem;
  line-height: 1.695rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.rounded-pill {
  border-radius: 10px 10px 10px 10px;
  height: 25px;
}
.brand-title {
  font-size: 2.175rem;
}
@media (max-width: 360px) {
  .brand-title {
    font-size: calc(1rem + 2.1vw);
  }
}

.nav-link:hover {
  text-shadow: 0 0 20px rgb(250, 246, 246);
}

.navbar-bg {
  background-color: rgb(20, 21, 22);
}

.carousel-caption {
  background-color: rgb(50, 52, 54, 0.9);
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.footer {
  background-color: rgb(20, 21, 22);
}
.main-left {
  background: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0%,
    rgba(244, 244, 244, 1) 35%,
    rgba(250, 250, 250, 1) 100%
  );
}

.card-galary {
  max-width: 9.5rem;
}
.container-fluid {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#032e59),
    color-stop(0.25, #bed4e2),
    color-stop(0.5, #bed4e2),
    color-stop(0.75, #bed4e2),
    to(#032e59)
  );
}

.bg-default {
  background: #466368;
  background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
  height: 20rem;
}
.fa-facebook-f {
  padding-left: 0.775rem;
  padding-right: 0.775rem;
}
